*{
    margin: 0;
    border: 0;
    /* display: flex; */
}

.logo{
    position: absolute;
    
    height: 7rem;
    width: auto;
    top :0;
    left: 45%;
    z-index: -32;
}

body{
    background:  #F5F5F5;
}  

.button{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.bttn{
    width: 7rem;
    height: 3rem;
    letter-spacing: 1px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bttn:hover{
    background-color: blueviolet;
    transform: translateY(-7px);
}

/* @media screen and(max-width: 400px){
   .button{
    margin-top: 50rem;
   }
} */